<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'ID: ' + ${id}" />
<p th:text="'Topic: ' + ${topic}" />
<p th:text="${option1} + ' : ' + ${option1Vote}" />
<p th:text="${option2} + ' : ' + ${option2Vote}" />
<p th:text="${option3} + ' : ' + ${option3Vote}" />
<p th:text="'Poll is ongoing : ' + ${pollStatus}" />
<button onclick="resumePoll()"><img src="/meme.jpg"></button>
<button onclick="pausePoll()"><img src="/stop.jpeg"></button>

<script>
function resumePoll() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', "http://localhost:8080/vote/resume", true);
    xhr.send();
    location.reload();
}

function pausePoll() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', "http://localhost:8080/vote/pause", true);
    xhr.send();
    location.reload();
}
</script>
</body>
</html>